<div class="py-5">
  <%= form_for @company do |f| %>

  <style> 
        .error_message { color: red;}
  </style>

    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Name</strong><br><small class="text-muted">The public DBA, or Common name of the organization</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Company Name", required: true %>
        </div>
      </div>
    </div>


    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Zip Code</strong><br><small class="text-muted">5 Digit US postal code</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :zip_code, class: "form-control", placeholder: "93003", required: true %>
        </div>
      </div>
    </div>

    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Description</strong><br><small class="text-muted">Rich text marketing description</small></label>
      </div>
      <div class="col-lg-8 offset-lg-1">
        <div class="form-group">
          <%= f.rich_text_area :description %>
        </div>
      </div>
    </div>


    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Phone</strong><br><small class="text-muted">Shown in marketing</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :phone, class: "form-control", placeholder: "555-555-5555"%>
        </div>
      </div>
    </div>

    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Email</strong><br><small class="text-muted">Shown in marketing</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
          <%= f.text_field :email, class: "form-control", pattern: ".+@getmainstreet.com", placeholder: "hello@getmainstreet.com"%>
          <div class="form-group error_message" >
               <%= show_errors(@company, :email) %>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Services</strong><br><small class="text-muted">List the services offered by this company</small></label>
      </div>
      <div class="col-lg offset-lg-1">
          <div data-controller="services" class="form-group">
            <%= f.select :services, options_for_select(["Interior Painting", "Commercial Painting", "Exterior Painting"], @company.services), {include_blank: true, required: false}, multiple: true, "data-target": "services.select2", class: "form-control" %>
          </div>
      </div>
    </div>  

    <div class="row my-lg-3">
      <div class="col-lg-3">
        <label><strong>Brand Color</strong><br><small class="text-muted">Choose from the color bar</small></label>
      </div>
      <div class="col-lg offset-lg-1">
        <div class="form-group">
            <%= f.color_field :brand_color, class: "form-control", placeholder: "#FFFFFF" %>
        </div>
      </div>
    </div>

    <div class="row my-lg-3">
      <div class="col">
        <div class="form-group">
          <%= f.submit class: "btn btn-success"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
